body  {
  margin:0;
  padding:0;
  background-color:lightgray ;
}

h3 {
  text-align: center;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: green;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}
.navbar {
  width: 100%;
  height:100px;
  background-color:#145A32;
  text-align: center;

}
.navbar p {
  font-size:50px;
  font-family: 'Rakkas', cursive;
  float:right;
  margin-top:0;
  margin-right:3%;
  padding:10px;
  color:#ECF0F1;

}
.navbar ul{
  list-style-type:none;
  float:right;
  margin-right:10%;
  margin-top:2%;
  width:60%;

}
.navbar ul li {
  display: inline;
  margin-left:1%;
  font-size: 35px;
  font-family: 'Rakkas', cursive;
  color : #ECF0F1 ;
}

.navbar ul li a {

  display: inline;
  text-decoration: none;
  margin-left:3%;
  font-size: 30px;
  font-family: 'Rakkas', cursive;
  color : #ECF0F1 ;

}
.navbar ul li a:hover{
  color:gray ;
}

.careheader {
	width: 100%;
    height:100px;
}
.careheader h4 {
  font-size:45px;
  font-family: 'Rakkas', cursive;
  float:right;
  margin-top:1%;
  margin-right:3%;
  padding:10px;
  color:#145A32;
}
.content ul li{
  background-color:#F7F5EB;
  list-style-type:none;
  margin:3% 10% 3%;
  padding:1% 5% 3%;
  width:65%;
  font-size:30px;
  font-family: 'Markazi Text', serif;
  color:black;
}
ul li img{
	width:500px;
	height:300px;
	padding: 1% 25% 3%;
}